.colored-line {
  border-top: 4px solid #e94560; /* Цвет линии */
  margin: 10px 0; /* Отступы сверху и снизу линии */
}
.card-block {
  background-color: #3a4264; /* Цвет фона */
  /*padding: 20px; /* Внутренний отступ для блока с карточками */
  /*margin-top: 20px; /* Отступ сверху */
}

.custom-card:hover {
  transform: scale(1.10); /* Puedes ajustar el valor según tus preferencias */
  transition: transform 0.3s ease; /* Añade una transición suave para el efecto */
  /* Otros estilos personalizados aquí */
}