footer {
    background-color: #3a4264;
    color: #fff;
  }
  .container-grid {
    display: flex; 
    justify-content: space-between;
  }

  footer p {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
   footer li {
    margin-bottom: 10px;
    opacity: 1;
    list-style: none; 
  } 
  
  #textfooter {
    color: white;
    opacity: 200%;
    width: 80%;
    margin-left: 4%;
  }
  
  .boxtwo {
    flex: 1;
    margin-top: 0;
  }
