.CoursCard-block {
    background-color: #252B42;
    padding: 20px; /* Внутренний отступ для блока с карточками */
    /*margin-top: 20px; /* Отступ сверху */
  }

  .pl-3 mb-3 mt-3{
    color: white;
  }

